doctype html
html(lang="en")
  head
    style.
      body { font-family: Arial, sans-serif; }
      .container { max-width: 600px; margin: auto; padding: 20px; }
      .header { background-color: #d9d9d9; padding: 10px; text-align: center; }
      .content { margin-top: 20px; }
      .footer { margin-top: 30px; font-size: 12px; text-align: center; color: #888; }
  body
    .container
      .header
        h1 Tangibly
      .content
        p Hello, #{recipientName}
        p Thank your interest in us. In the attachments you will find the image of the
        p design you just made. We hope you like it!
        br
        p Cheers,
        p Johannes & Phillip

      .footer
        p If you have any questions, please contact us at tangibly.hsg@gmail.com
