doctype html
html(lang="en")
  head
    style.
      body { font-family: Arial, sans-serif; }
      .container { max-width: 600px; margin: auto; padding: 20px; }
      .header { background-color: #d9d9d9; padding: 10px; text-align: center; }
      .content { margin-top: 20px; }
      .footer { margin-top: 30px; font-size: 12px; text-align: center; color: #888; }
  body
    .container
      .header
        h1 Tangibly
      .content
        p Hey #{recipientName}
        p Thank you for your order!  
        p We're processing it now and will let you know as soon as it's shipped.
        p Attached you'll already find the image of the design you just made.
        p Until then, stay active!
        p Johannes & Philipp

      .footer
        p If you have any questions, please contact us at tangibly.hsg@gmail.com
